{% extends 'base.html' %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block content  %}
    
        
        <div style="margin-top: 20px;">
            <form action="" method="POST">{% csrf_token %}
                <div style="margin-top: 20px;">
                    <input type="text" name="username"><br></div>
                <div style="margin-top: 20px;">
                    <input type="password" name="password"><br></div>
                </div>
                {% if error %}
                    <p style="color:red">{{error}}</p>
                {% endif %}
                <div style="margin-top: 20px;">
                    <button type="submit">login</button>
                </div>
    
            </form>
        </div>
   
    
    
{% endblock  %}