{% extends 'base.html' %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block content  %}
    {% if request.user.is_authenticated %}
        <p><strong>You are already registered!!</p>
        <p>Would you like to <a href="/logout">logout</a>??</p>
    {% else %}
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
            <br>
            <p>Already have an acccount??<a href="/login">login</a></p>
        </form>
    {% endif %}
    
    
{% endblock  %}