{% extends 'base.html' %}
{% block title %}
    <title>Create article</title>
{% endblock %}
{% block content  %}
    {% if not created %}
    {% comment %} {{form.as_p}} {% endcomment %}
        <h2>Create Article</h2>
        <div style="margin-top: 20px;">
            <form action="" method="POST">
                {% csrf_token %}
               {{form.as_p}}
                <div style="margin-top: 20px;">
                    <button type="submit">create article</button>
                </div>
    
            </form>
        </div>
    {% else %}
        <p>your article was created</p> 
        <a href="{{object.id}}">{{object.title}}-->{{object.content}}</a>
    {% endif %}
    
    
    
{% endblock  %}